body {
    margin: 0;
    padding: 0;
}

#timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    border-radius: 5px;
    background-color: lightgrey;
}

#display-container {
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    width: 95%;
    height: 85%;
}

#controls-container {
    width: 100%;
    height: 10%;
}

#input-container {
    display: flex;
    justify-content: space-around;
}

#button-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2px;
    padding: 5px;
}

button {
    padding: 2px;
}

#start-button {
    background-color: forestgreen;
    color: white;
}

#stop-button {
    background-color: crimson;
    color: white;
}

#reset-button {
    margin-left: auto;
    background-color: darkorange;
}