body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

#timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    border-radius: 5px;
    background-color: #808080;
}

#display-container {
    border: 1px solid black;
    border-radius: 2px;
    background-color: #D3D3D3;
    width: 87.5%;
    height: 75%;
}

#timer-display {
    position: absolute;
    top: 42.5%;
    left: 50%;
    width: 400px;
    height: 150px;
    transform: translate(-50%, -50%);
    font-family: "alarm clock", sans-serif;
    font-weight: bold;
    font-size: 8rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
}

#colon {
    position: relative;
    bottom: 0.8rem;
}

#controls-container {
    width: 95%;
    height: 17.5%;
}

#input-container {
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5px;
}

input {
    font-size: 1.2rem;
}

#button-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    padding: 5px;
}

button {
    padding: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 5px;
}

#start-btn {
    background-color: #228B22;
    color: white;
}

#stop-btn {
    background-color: #DC143C;
    color: white;
}

#reset-btn {
    margin-left: auto;
    background-color: #FF8c00;
}